@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #2e2e2e;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  height: 100px;
  background-color: rgb(59, 59, 59);
  font-weight: 700;
}

footer {
  height: 200px;
  background-color: rgb(120, 120, 120);
  font-weight: 100;
}
